<table id="table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Bubblename</th>
            <th>#Questions</th>
            <th>#Quizes played</th>
            <th>Created</th>
            <th>Last activity</th>
        </tr>
    </thead>
    <tbody>
        {% for bubble in bubbles %}
        <tr>
            <td><a class="text-white border-bottom border-light" href="{% url 'home' bubble_name=bubble.name %}">{{bubble.name}}</a></td>
            <td>{{bubble.questions_total}}</td>
            <td>{{bubble.quizes_total}}</td>
            <td>{{bubble.created|date:"d.m.y"}}</td>
            <td>{{bubble.last_access|date:"d.m.y"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>