{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<h4 class="static-card border-bottom border-light text-light my-3">1) Question and answers</h4>
<div class="form-row">
    <div class="col-md-12">
        {{ form.question|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form.answer_a|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form.answer_b|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form.answer_c|as_crispy_field }}
    </div>
    <div class="col-md-6">
        {{ form.answer_d|as_crispy_field }}
    </div>
</div>
<h4 class="static-card border-bottom border-light text-light my-3">2) Correct answer, difficulty and explanation</h4>
<div class="form-row">
    <div class="col-md-4">
        {{ form.correct_answer|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.difficulty|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.contributor|as_crispy_field }}
    </div>
    <div class="col-md-12">
        {{ form.explanation|as_crispy_field }}
    </div>
</div>