{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{% static 'quiz/js/messages.js' %}"></script>
{% endblock %}

{% block content %}

<!-- messages -->
<div class="row">
    <div id="message-box">
        {% for message in messages %}
        <div class="message cursor-pointer p-3 m-1">
            <i class="no-pointerevents material-icons mr-2">message</i>
            <span class="no-pointerevents">{{message}}</span>
        </div>
        {% endfor %}
    </div>
</div>

<!-- question form -->
<form method="post">
    {% csrf_token %}
    <h2 class="static-card border-bottom border-light text-light my-3">1) Question and answers</h2>
    <div class="form-row">
        <div class="col-md-12">
            {{ form.question|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.answer_a|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.answer_b|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.answer_c|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.answer_d|as_crispy_field }}
        </div>
    </div>
    <h2 class="static-card border-bottom border-light text-light my-3">2) Correct answer, difficulty and explanation</h2>
    <div class="form-row">
        <div class="col-md-4">
            {{ form.correct_answer|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.difficulty|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.contributor|as_crispy_field }}
        </div>
        <div class="col-md-12">
            {{ form.explanation|as_crispy_field }}
        </div>
    </div>
    <div class="form-row my-3">
        <button type="submit" class="btn btn-primary px-4 py-3 mr-3">Contribute question</button>
        <a class="btn btn-secondary px-4 py-3" href="{% url 'home' %}">Cancel</a>
    </div>
</form>

{% endblock %}