{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{% static 'quiz/js/messages.js' %}"></script>
{% endblock %}

{% block content %}
<!-- messages -->
{% include 'quiz/includes/messages.html' %}

<!-- question form -->
<form method="post">
    {% csrf_token %}
    <!-- nav -->
    {% include 'quiz/includes/nav_editquestion.html' %}
    <!-- questionfields -->
    {% include 'quiz/includes/questionfields.html' %}
    <!-- nav -->
    {% include 'quiz/includes/nav_editquestion.html' %}
</form>
{% endblock %}