{% extends 'quiz/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'quiz/js/messages.js' %}"></script>
<script src="{% static 'quiz/js/ajax.js' %}"></script>
<script src="{% static 'quiz/js/home.js' %}"></script>
{% endblock %}


{% block content %}

{% csrf_token %}
<!-- messages -->
<div class="row">
    <div id="message-box">
        {% for message in messages %}
        <div class="message cursor-pointer p-3 m-1">
            <i class="no-pointerevents material-icons mr-2">message</i>
            <span class="no-pointerevents">{{message}}</span>
        </div>
        {% endfor %}
    </div>
</div>
<!-- header -->
<div class="row my-4 text-light">
    <div class="col-md-6 d-flex justify-content-start align-items-center">
        <h2>{{space_name}} <a href="{% url 'login' %}" class="btn-mini btn btn-outline-light">Logout</a></h2>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-end">
        <span>{{nr_questions}} questions</span>
        <span>{{nr_games}} games played</span>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-4 mb-3">
        <!-- Play sprint -->
        <div class="flip-card hoverable h-200px">
            <div class="content">
                <div class="front bordered cursor-pointer bg-primary text-light p-5 d-flex justify-content-center align-items-center">
                    <span><i class="material-icons">directions_run</i>Sprint</span>
                </div>
                <div class="back bordered cursor-pointer bg-primary text-light p-3 d-flex justify-content-center align-items-center">
                    <div>
                        {% if not enough_questions %}
                            <p>Not enough questions...</p>
                            {% for diff in difficulty_list %}
                            <p class="mb-0">{{diff.difficulty}}:  <span class="{% if diff.missing %}text-warning{% else %}text-success{% endif %}">{{diff.count}}/{{diff.max}}</span></p>
                            {% endfor %}
                        {% else %}
                        <p class="text-light">{{nr_sprint_questions}} questions in ascending difficulty. Go for it!</p>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" name="player-sprint" placeholder="Name" type="text">
                                <div class="input-group-append">
                                    <button id="btn-start-sprint" class="btn btn-success btn-block">Go</button>
                                </div>
                            </div>
                        </div>
                        <small id="error-message-sprint" class="error-message text-white m-0" style="opacity:0;">Not a valid name.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <!-- Play marathon -->
        <div class="flip-card hoverable h-200px">
            <div class="content">
                <div class="front bordered cursor-pointer bg-primary text-light p-5 d-flex justify-content-center align-items-center">
                    <span><i class="material-icons">directions_bike</i> Marathon</span>
                </div>
                <div class="back bordered cursor-pointer bg-primary text-light p-3 d-flex justify-content-center align-items-center">
                    <div>
                        {% if nr_questions < 1 %}
                        <p>No questions yet...</p>
                        {% else %}
                        <p class="text-light">All questions ({{nr_questions}}) in random order. Good luck!</p>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" name="player-marathon" placeholder="Name" type="text">
                                <div class="input-group-append">
                                    <button id="btn-start-marathon" class="btn btn-success btn-block">Go</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <small id="error-message-marathon" class="error-message text-white m-0" style="opacity:0;"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <!-- Contribute question -->
        <div class="flip-card hoverable h-200px">
            <div class="content">
                <div class="front bordered cursor-pointer bg-success text-light p-5 d-flex justify-content-center align-items-center">
                    <span><i class="material-icons">add_circle_outline</i>Contribute</span>
                </div>
                <div class="back bordered cursor-pointer bg-success text-light p-3 d-flex justify-content-center align-items-center">
                    <div class="nav-row">
                        <a href="{% url 'new_question' %}" class="btn btn-outline-primary btn-block mb-4">Add question</a>
                        <a href="{% url 'question_list' %}" class="btn btn-outline-primary btn-block">Edit question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-6">
        <!-- Sprint leaderboard -->
        <div class="px-2">
            <h3 class="border-bottom border-light text-light">Sprint Champions</h3>
            {% include 'quiz/includes/leaderboard.html' with leaders=sprint_champions %}
        </div>
    </div>
    <div class="col-md-6">
        <!-- Marathon leaderboard -->
        <div class="px-2">
            <h3 class="border-bottom border-light text-light">Marathon Champions</h3>
            {% include 'quiz/includes/leaderboard.html' with leaders=marathon_champions %}
        </div>
    </div>
</div>
{% endblock %}