{% extends 'quiz/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}


{% block content %}
<div class="row mt-5">
    <div class="col-md-4">
        <!-- Play sprint -->
        <a href="{% url 'sprint' %}">
            <div class="interactive-card bg-primary text-light p-5">
                <span><i class="fa fa-hourglass"></i> Sprint</span>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <!-- Play marathon -->
        <a href="">
            <div class="interactive-card bg-primary text-light p-5">
                <span><i class="fa fa-bicycle"></i> Marathon</span>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <!-- Create question -->
        <a href="{% url 'new_question' %}">
            <div class="interactive-card bg-success text-light p-5">
                <span><i class="fa fa-plus"></i> Contribute</span>
            </div>
        </a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <!-- Sprint leaderboard -->
        <div class="">
            <h2 class="border-bottom border-light text-light">Sprint Champions</h2>
            <div class="table-responsive">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Answers</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sprint_champion in sprint_champions %}
                        <tr>
                          <td>{{sprint_champion.player}}</td>
                          <td>{{sprint_champion.questions_answered}}</td>
                          <td>{{sprint_champion.duration}}</td>
                          <td>{{sprint_champion.latest_change|date:"d.m.Y"}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Marathon leaderboard -->
        <div class="">
            <h2 class="border-bottom border-light text-light">Marathon Champions</h2>
            <div class="table-responsive">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Answers</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for marathon_champion in marathon_champions %}
                        <tr>
                          <td>{{marathon_champion.player}}</td>
                          <td>{{marathon_champion.questions_answered}}</td>
                          <td>{{marathon_champion.duration}}</td>
                          <td>{{marathon_champion.latest_change|date:"d.m.Y"}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}