{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'quiz/js/intro.js' %}"></script>
{% endblock %}


{% block content %}
<!-- nav -->
<div class="nav-row row my-4">
    <div class="col-12">
        <a href="{% url 'login' %}" class="btn btn-outline-light mr-2">Back to login</a>
    </div>
</div>
<!-- body -->
    <div class="row mt-3">
        <div class="col-12">

            <!-- Play sprint -->
            <div class="flip-card" style="height:300px;">
                <div class="content">
                    <!-- front -->
                    <div class="front h-100 text-light p-3 d-flex flex-column justify-content-center">
                        <!-- p0 -->
                        <div id="p0">
                            <h3 class="mb-4">Welcome stranger</h3>
                            <p class="mb-4">QuizBubbles makes it easy and fun to test your knowledge and contribute questions. Ideal as classroom exercise, for company newcomers or having fun with friends.</p>
                            <div>
                                <button type="button" disabled class="previous-button btn btn-outline-light white-outline">Previous</button>
                                <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                            </div>
                        </div>
                        <!-- p2 -->
                        <div id="p2" class="d-none">
                            <h3 class="mb-4">Add questions</h3>
                            <p class="mb-4">Once you created your bubble, it's time for you and your friends to add questions. Take your time and enjoy the creativity.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p4 -->
                        <div id="p4" class="d-none">
                            <h3 class="mb-4">Sprint</h3>
                            <p class="mb-4"><b>Sprint</b> selects 12 questions in ascending difficulty and a single wrong answer means game over.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p6 -->
                        <div id="p6" class="d-none">
                            <h3 class="mb-4">Public bubbles</h3>
                            <p class="mb-4">Public bubbles allow people to play a quiz without password by just sharing the link. Adding questions still requires a password. Change public accessibility in bubble settings.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                    </div>
                    <!-- back -->
                    <div class="back h-100 text-light p-3 d-flex flex-column justify-content-center">
                        <!-- p1 -->
                        <div id="p1" class="d-none">
                            <h3 class="mb-4">Create your bubble</h3>
                            <p class="mb-4">A <b>bubble</b> is your little universe holding questions. Creating one takes seconds, no registration required.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p3 -->
                        <div id="p3" class="d-none">
                            <h3 class="mb-4">Time to play</h3>
                            <p class="mb-4">There are two quiz modes: <b>Sprint</b> and <b>Marathon</b>. Your performance is <b>ranked</b> based on the number of correct answers and the time.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p5 -->
                        <div id="p5" class="d-none">
                            <h3 class="mb-4">Marathon</h3>
                            <p class="mb-4"><b>Marathon</b> is all about endurance, providing you with all questions available and counting how many you get right.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p7 -->
                        <div id="p7" class="d-none">
                            <h3 class="mb-4">That's all!</h3>
                            <p class="mb-4">Just give it a try! Feel free to contact us through the About section on the login page.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <a href="{% url 'login' %}" class="next-button btn btn-outline-light white-outline">Back to login</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}