{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'quiz/js/intro.js' %}"></script>
{% endblock %}


{% block content %}
<!-- nav -->
<div class="nav-row row my-4">
    <div class="col-12">
        <a href="{% url 'login' %}" class="btn btn-outline-light mr-2">Back</a>
    </div>
</div>
<!-- body -->
    <div class="row mt-3">
        <div class="col-12">

            <!-- Play sprint -->
            <div class="flip-card" style="height:250px;">
                <div class="content">
                    <!-- front -->
                    <div class="front h-100 bordered bg-primary text-light p-3 d-flex flex-column justify-content-center">
                        <!-- p0 -->
                        <div id="p0">
                            <h3>Welcome stranger</h3>
                            <p>QuizBubbles is intended for fun and educational purposes, making it easy for everyone to add a bundle of questions and challenge each other in two quiz modes.</p>
                            <div>
                                <button type="button" disabled class="previous-button btn btn-outline-light white-outline">Previous</button>
                                <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                            </div>
                        </div>
                        <!-- p2 -->
                        <div id="p2" class="d-none">
                            <h3>Add questions</h3>
                            <p>Once you created your bubble, it's time to add questions. Take your time and enjoy the creativity. Use the settings to change name, password or if your bubble is publicly accessible.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p4 -->
                        <div id="p4" class="d-none">
                            <h3>Sprint</h3>
                            <p><b>Sprint</b> selects 12 questions in ascending difficulty and a single wrong answer means game over.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                    </div>
                    <!-- back -->
                    <div class="back h-100 bordered bg-primary text-light p-3 d-flex justify-content-center align-items-center">
                        <!-- p1 -->
                        <div id="p1" class="d-none">
                            <h3>Create your bubble</h3>
                            <p>A <b>bubble</b> is your little universe holding questions. Creating one takes seconds, no registration required.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p3 -->
                        <div id="p3" class="d-none">
                            <h3>Time to play</h3>
                            <p>There are two quiz modes to challenge your friends: <b>Sprint</b> and <b>Marathon</b>. Your performance is <b>ranked</b> based on the number of correct answers and the time.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                        <!-- p5 -->
                        <div id="p5" class="d-none">
                            <h3>Marathon</h3>
                            <p><b>Marathon</b> is all about endurance, providing you with all questions available and counting how many you get right.</p>
                            <button type="button" class="previous-button btn btn-outline-light white-outline">Previous</button>
                            <button type="button" class="next-button btn btn-outline-light white-outline">Next</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}