{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/login.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'quiz/js/ajax.js' %}"></script>
<script src="{% static 'quiz/js/login.js' %}"></script>
{% endblock %}


{% block content %}
{% csrf_token %}
<div class="h-100vh d-flex justify-content-center align-items-center">
    <div>
        <h3 class="text-white border-bottom border-light mb-3">Welcome to QuizMEE</h3>
        <!-- flipcard -->
        <div id="flipcard" class="{% if not flipShowJoin %}flipped{% endif %} flip-card h-330px">
            <div class="content">
                <!-- front -->
                <div class="front bordered bg-primary d-flex justify-content-center align-items-center">
                    <form method="post">
                        {% csrf_token %}
                        {{ join_form|crispy }}
                        <div class="form-row">
                            <div class="p-1 w-50">
                                <button type="button" class="toggle-card btn btn-outline-light btn-block d-flex justify-content-center align-items-center"><i class="material-icons">loop</i> <span>Create</span></button>
                            </div>
                            <div class="p-1 w-50">
                                <button type="submit" name="join" class="btn btn-success btn-block">Join</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- back -->
                <div class="back bordered bg-primary d-flex justify-content-center align-items-center">
                    <form method="post">
                        {% csrf_token %}
                        {{ create_form|crispy }}
                        <div class="form-row">
                            <div class="p-1 w-50">
                                <button type="button" class="toggle-card btn btn-outline-light btn-block d-flex justify-content-center align-items-center"><i class="material-icons">loop</i> <span>Join</span></button>
                            </div>
                            <div class="p-1 w-50">
                                <button type="submit" name="create" class="btn btn-success btn-block">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}