{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/thirdparty/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/datatables.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/login.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'quiz/js/thirdparty/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'quiz/js/thirdparty/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'quiz/js/thirdparty/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'quiz/js/messages.js' %}"></script>
<script src="{% static 'quiz/js/ajax.js' %}"></script>
<script src="{% static 'quiz/js/login.js' %}"></script>
<script src="{% static 'quiz/js/public_bubbles_list.js' %}"></script>
{% endblock %}


{% block content %}
{% csrf_token %}
<div id="spinner" class="position-absolute w-100 h-100vh opacity-fade d-flex justify-content-center align-items-center">
    <span class="text-light spinner-border"></span>
</div>
<section id="main-container" class="opacity-zero opacity-fade">
    <!-- messages -->
    {% include 'quiz/includes/messages.html' %}
    <div class="row mt-5">
        <!-- join / create -->
        <div class="col-12">
            <h2 class="text-white text-center border-bottom border-light mb-3">Welcome to QuizBubble</h2>
            <!-- flipcard -->
            <div id="flipcard" class="{% if not flipShowJoin %}flipped{% endif %} flip-card">
                <div class="content">
                    <!-- front -->
                    <div class="front p-4 bordered bg-primary d-flex justify-content-center align-items-center">
                        <form class="hide-labels smaller-controls" method="post">
                            {% csrf_token %}
                            {{ join_form|crispy }}
                            <div class="form-row">
                                <div class="p-1 w-50">
                                    <button type="button" class="toggle-card btn btn-outline-light btn-block d-flex justify-content-center align-items-center"><i class="material-icons">loop</i> <span>Create</span></button>
                                </div>
                                <div class="p-1 w-50">
                                    <button type="submit" name="join" class="btn btn-success btn-block">Join</button>
                                </div>
                                {% if wrong_password %}
                                <a href="{% url 'forgot_password' bubble_name=bubble_name %}" class="text-light mt-2 p-1"><small>Forgot password?</small></a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <!-- back -->
                    <div class="back p-4 bordered bg-primary d-flex justify-content-center align-items-center">
                        <form class="hide-labels smaller-controls" method="post">
                            {% csrf_token %}
                            {{ create_form|crispy }}
                            <div class="form-row">
                                <div class="p-1 w-50">
                                    <button type="button" class="toggle-card btn btn-outline-light btn-block d-flex justify-content-center align-items-center"><i class="material-icons">loop</i> <span>Join</span></button>
                                </div>
                                <div class="p-1 w-50">
                                    <button type="submit" name="create" class="btn btn-success btn-block">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <!-- public quizes list -->
        <div class="col-12">
            <h2 class="text-white text-center border-bottom border-light mb-3">Join a public bubble</h2>
            {% include 'quiz/includes/public_bubbles_list.html' %}
        </div>
    </div>
</section>

{% endblock %}