{% extends 'quiz/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'quiz/js/thirdparty/vue.js' %}"></script>
<script src="{% static 'quiz/js/thirdparty/axios.min.js' %}"></script>
<script src="{% static 'quiz/js/quiz.js' %}"></script>
{% endblock %}


{% block content %}
<section id="app-wrapper" class="opacity-fade opacity-zero">
    <div id="app">
        <!-- messages -->
        <div id="message-box">
            <template v-for="(message, index) in messages">
                <div class="message cursor-pointer p-3 m-1" @click="removeMessage(index)">
                    <i class="material-icons mr-2">message</i>
                    <span v-html="message"></span>
                </div>
            </template>
        </div>
        <!-- header -->
        <div class="row text-light my-3 justify-content-between">
            <div class="col-md-2 text-center d-flex align-items-center justify-content-center">
                <h5 class="m-0">[[quiztype]]</h5>
                <a href="{% url 'home' bubble_name=bubble_name %}" class="ml-2 btn btn-mini btn-outline-light">Leave</a>
            </div>
            <div class="col-md-1 text-center d-flex align-items-center justify-content-center p-2">
                <span :class="{'opacity-zero': !loading}" class="opacity-fade spinner-border"></span>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <button @click="jokerFiftyFifty()" :class="{'opacity-zero': !jokerFiftyFiftyAvailable}" class="joker btn btn-light" type="button" title="Remove two wrong answers.">50:50</button>
                <i @click="jokerAudience()" :class="{'opacity-zero': !jokerAudienceAvailable}" class="joker material-icons btn btn-light mx-2 cursor-pointer" title="Replace the letters A-D with the number of times an answer was chosen by all other usernames.">group</i>
                <i @click="jokerTimestop()" :class="{'opacity-zero': !jokerTimestopAvailable}" class="joker material-icons btn btn-light cursor-pointer" title="Take your time. The clock stops and is reset to the value at the beginning of this round.">alarm_off</i>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                Progress: [[questionsAnswered]]/[[questionsTotal]] | Rank: [[rank]]
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h5 id="timer" class="m-0">[[formattedTime()]]</h5>
            </div>
        </div>
        <!-- quiz section -->
        <div class="row">
            <div class="col-12">
                <!-- flipcard question -->
                <div @click="flipQuestion()" :class="{flipped: flipShowQuestion, 'cursor-pointer': !awaitingAnswer && quizStarted}" class="flip-card h-240px">
                    <div class="content">
                        <!-- front question -->
                        <div class="front h-100 overflow-auto bordered noselect text-light p-4"
                            :class="[getQuestionClass()]">
                            <div v-if="!quizStarted && !errorOccured" class="stretch-out d-flex justify-content-center align-items-center">
                                <h3 class="m-0">Good luck, {{request.session.username}}!</h3>
                            </div>
                            <!-- display error -->
                            <div v-if="errorOccured" class="stretch-out d-flex align-items-center justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="material-icons d-block">mood_bad</i>
                                    <h3 class="my-2">Oh no, something went wrong!</h3>
                                </div>
                                <a @click.stop="" href="{% url 'home' bubble_name=bubble_name %}" class="btn btn-success d-inline-block">Back home</a>
                            </div>
                            <div v-if="quizStarted && !errorOccured">
                                <!-- display SUCCESS -->
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <template v-if="chosenAnswer===correctAnswer">
                                        <i class="material-icons">sentiment_very_satisfied</i>
                                        <template v-if="quizActive">
                                            <h3 class="mb-0 mr-4">Correct!</h3>
                                            <button @click.stop="nextQuestion();" class="btn btn-primary">Next question</button>
                                        </template>
                                        <template v-else>
                                            <h3 class="mb-0 mr-4">You did it!</h3>
                                            <a @click.stop="" href="{% url 'home' bubble_name=bubble_name %}" class="btn btn-primary">Back home</a>
                                        </template>
                                    </template>
                                    <template v-else>
                                        <i class="material-icons">sentiment_very_dissatisfied</i>
                                        <h3 class="mb-0 mr-4">Quiz over!</h3>
                                        <a @click.stop="" href="{% url 'home' bubble_name=bubble_name %}" class="btn btn-primary">Back home</a>
                                    </template>
                                </div>
                                <p v-if="questionsAnswered==1 && quizActive"><b>Hint:</b> Click here to view question again.</p>
                                <p v-if="questionsAnswered==2 && quizActive"><b>Hint:</b> The explanation below may contain interesting additional information. </p>
                                <p v-if="questionsAnswered==3 && quizActive"><b>Hint:</b> Take a break, the timer is currently halted.</p>
                                <p v-if="questionsAnswered==4 && quizActive"><b>Hint:</b> Don't forget the 3 jokers at the top! Hover over them to get to know them.</p>
                                <p v-if="questionsAnswered==5 && quizActive"><b>Hint:</b> The quiz ends immediately upon either closing the browser or even reloading the page while answering a question.</p>
                                <div v-if="!quizActive" class="mb-3 d-flex align-items-center">
                                    <p class="m-0">
                                        You've successfully answered [[questionsAnswered]] questions in [[formattedTime()]]. <b>This ranks your quiz [[rank]] out of [[quizesTotal]] total!</b>
                                        Liked this quiz? Feel free to share some love by clicking the heart.
                                    </p>
                                    <i id="heart" class="ml-2 material-icons">favorite_outline</i>
                                </div>
                                <h5 class="border-bottom border-light">Explanation</h5>
                                <p>[[questionExplanation]]</p>
                            </div>
                        </div>
                        <!-- back question -->
                        <div class="back h-100 bordered noselect bg-primary text-light p-4 overflow-auto d-flex">
                            <div class="stretch-out question">
                                <h3>[[question.header]]</h3>
                                <p>[[question.body]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- answers -->
        <div class="row my-4" @click="answerClicked();">
            <div class="col-md-6 mb-3">
                <div id="a" class="answer noselect p-3 d-flex justify-content-start align-items-center"
                    :class="[getAnswerClass('a'), (awaitingAnswer ? 'cursor-pointer': 'no-pointerevents'), {'opacity-zero': hiddenAnswers.includes('a')}]">
                    <div class="answer-letter noevent">[[letters.a]]</div>
                    [[answers.a]]
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div id="b" class="answer noselect p-3 d-flex justify-content-start align-items-center"
                    :class="[getAnswerClass('b'), (awaitingAnswer ? 'cursor-pointer': 'no-pointerevents'), {'opacity-zero': hiddenAnswers.includes('b')}]">
                    <div class="answer-letter noevent">[[letters.b]]</div>
                    [[answers.b]]
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div id="c" class="answer noselect p-3 d-flex justify-content-start align-items-center"
                    :class="[getAnswerClass('c'), (awaitingAnswer ? 'cursor-pointer': 'no-pointerevents'), {'opacity-zero': hiddenAnswers.includes('c')}]">
                    <div class="answer-letter noevent">[[letters.c]]</div>
                    [[answers.c]]
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div id="d" class="answer noselect p-3 d-flex justify-content-start align-items-center"
                    :class="[getAnswerClass('d'), (awaitingAnswer ? 'cursor-pointer': 'no-pointerevents'), , {'opacity-zero': hiddenAnswers.includes('d')}]">
                    <div class="answer-letter noevent">[[letters.d]]</div>
                    [[answers.d]]
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}