{% extends 'quiz/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block css %}
{% endblock %}


{% block js %}
{% endblock %}


{% block content %}
<form class="hide-labels" method="post">
    {% csrf_token %}
    <!-- nav -->
    <div class="nav-row row my-4">
        <div class="col-12">
            <a href="{% url 'login' %}" class="btn btn-outline-light mr-2">Back</a>
        </div>
    </div>
    <!-- body -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="text-light text-center p-4 d-flex flex-column justify-content-center align-items-center">
                <h2 class="display-4 mb-3">Contact creator</h2>
                <p class="mb-0">Contact the creator of the quizbubble {{bubble.name}} to ask for access:</p>
                <p class="mb-3"><b><a class="text-light" href="mailto:{{bubble.email}}">{{bubble.email}}</a></b></p>
                <div class="mb-5">
                    <a href="mailto:{{bubble.email}}" class="btn btn-outline-primary white-outline mr-2">Open mail</a>
                    <button type="submit" class="btn btn-outline-primary white-outline">I am the creator :(</a>
                </div>
                {% if bubble.public %}
                <p><b>Hint: </b>{{bubble.name}} is a public bubble, meaning you can join as guest without password.</p>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}