{% extends 'quiz/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/flipcard.css' %}">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'quiz/js/sprint.js' %}"></script>
{% endblock %}


{% block content %}
<section id="app-wrapper" class="opacity-zero">
    <div id="app">
        <!-- messages -->
        <div id="message-box">
            <template v-for="(message, index) in messages">
                <div class="message p-3 m-1" @click="removeMessage(index)">
                    <i class="fa fa-comment mr-2"></i>
                    <span v-html="message"></span>
                </div>
            </template>
        </div>
        <!-- header -->
        <div class="row text-light">
            <div class="col-3">
                <div v-if="loading" class="stretch-out d-flex align-items-center">
                    <span class="spinner-border"></span>
                    <span class="ml-2">loading...</span>
                </div>
            </div>
            <div class="col-3">
                <span>Joker1</span>
                <span class="ml-2">Joker2</span>
                <span class="ml-2">Joker3</span>
            </div>
            <div class="col-3">
                Answers: [[questionsAnswered]]
            </div>
            <div class="col-3">
                <h5 id="timer">[[formattedTime()]]</h5>
            </div>
        </div>
        <!-- quiz section -->
        <div class="row">
            <div class="col-12">
                <!-- flipcard question -->
                <div :class="{flipped: flipShowQuestion}" class="flip-card h-200px">
                    <div class="content">
                        <!-- front question -->
                        <div class="front interactive-card noselect bg-primary text-light p-2">
                            <div v-if="timePassed==0" class="center-content stretch-out">
                                <h3>Good luck!</h3>
                            </div>
                            <div v-else class="overflow-auto">
                                <h5 v-if="correctAnswer">
                                    Congratulations!
                                    <button @click="nextQuestion();" class="btn btn-success">Next question</button>
                                </h5>
                                <h5 v-else>
                                    Sorry, not correct!
                                    <a href="{% url 'home' %}" class="btn btn-danger">Back to home</a>
                                </h5>
                                <h5>Explanation</h5>
                                <p>[[questionExplanation]]</p>
                            </div>
                        </div>
                        <!-- back question -->
                        <div class="back interactive-card noselect bg-primary text-light p-5">
                            <div class="question overflow-auto stretch-out center-content">
                                <i class="fa fa-question"></i>
                                <div>[[questionBody]]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- answers -->
        <div :class="{'opacity-zero': answersHidden}" class="row my-4" @click="answerClicked();">
            <div class="col-md-6 mb-3">
                <div id="a" class="answer noselect p-3 d-flex flex-row justify-content-start align-items-center"
                    :class="[(chosenAnswer == 'a' ? highlightClass : 'bg-light')]">
                    <div class="answer-letter noevent">A</div>
                    [[answerA]]
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div id="b" class="answer noselect p-3 d-flex flex-row justify-content-start align-items-center"
                    :class="[(chosenAnswer == 'b' ? highlightClass : 'bg-light')]">
                    <div class="answer-letter noevent">B</div>
                    [[answerB]]
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div id="c" class="answer noselect p-3 d-flex flex-row justify-content-start align-items-center"
                    :class="[(chosenAnswer == 'c' ? highlightClass : 'bg-light')]">
                    <div class="answer-letter noevent">C</div>
                    [[answerC]]
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div id="d" class="answer noselect p-3 d-flex flex-row justify-content-start align-items-center"
                    :class="[(chosenAnswer == 'd' ? highlightClass : 'bg-light')]">
                    <div class="answer-letter noevent">D</div>
                    [[answerD]]
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}