/*
MODIFIED FROM https://codepen.io/edeesims/pen/iGDzk
*/

.flip-card {
    width: 100%;
    perspective: 100000px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card.hoverable:hover .content,
.flip-card.flipped .content {
    transform: rotateY( 180deg);
    transition: transform 0.5s;
}

.front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden !important;
}

.back {
    transform: rotateY( 180deg);
}