.joker {
    transition: opacity 1s;
}

.question {
    margin-bottom: auto;
    margin-top: auto;
}

.answer {
    overflow-y: auto;
    transition: background-color 0.25s, color 0.25s, opacity 1s;
    height: 100%;
}

.answer-letter {
    font-weight: bold;
    font-size: 28px;
    margin-right: 20px;
    transition: font-size 0.5s;
}

.answer:hover .answer-letter {
    font-size: 48px;
}

#heart {
    font-size: 36px;
}