.message {
    color: white;
    background-color: rgba(0,0,0,0.8);
}

#message-box {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.question {
    margin-bottom: auto;
    margin-top: auto;
}

.answer {
    overflow-y: auto;
    transition: background-color 0.25s, color 0.25s, opacity 1s;
    height: 100%;
}

.answer-letter {
    font-weight: bold;
    font-size: 28px;
    margin-right: 20px;
    transition: font-size 0.5s;
}

.answer:hover .answer-letter {
    font-size: 48px;
}

.rotate-indication {
    position: absolute;
    top: 0px;
    right: 0px;
}

.rotate-indication > i {
    font-size: 24px;
}